In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r"d:\pizza_sales.csv")

In [3]:
data.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pizza_id           48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_name_id      48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  object
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: float64(2), int64(3), object(7)
memory usage: 4.5+ MB

In [5]:
total_revenue = data["total_price"].sum()
total_revenue

817860.05

In [6]:
total_sold = data["quantity"].sum()
total_sold

49574

In [7]:
total_order = data["order_id"].nunique()
total_order

21350

In [8]:
ct_pi_re = data.groupby(data["pizza_category"])["total_price"].sum()
ct_pi_re

pizza_category
Chicken    195919.50
Classic    220053.10
Supreme    208197.00
Veggie     193690.45
Name: total_price, dtype: float64

In [9]:
sz_pi_re = data.groupby(data["pizza_size"])["total_price"].sum()
sz_pi_re

pizza_size
L      375318.70
M      249382.25
S      178076.50
XL      14076.00
XXL      1006.60
Name: total_price, dtype: float64

In [10]:
pizza_re = data.groupby("pizza_name")["total_price"].sum().sort_values(ascending = False)
pizza_re

pizza_name
The Thai Chicken Pizza                        43434.25
The Barbecue Chicken Pizza                    42768.00
The California Chicken Pizza                  41409.50
The Classic Deluxe Pizza                      38180.50
The Spicy Italian Pizza                       34831.25
The Southwest Chicken Pizza                   34705.75
The Italian Supreme Pizza                     33476.75
The Hawaiian Pizza                            32273.25
The Four Cheese Pizza                         32265.70
The Sicilian Pizza                            30940.50
The Pepperoni Pizza                           30161.75
The Greek Pizza                               28454.10
The Mexicana Pizza                            26780.75
The Five Cheese Pizza                         26066.50
The Pepper Salami Pizza                       25529.00
The Italian Capocollo Pizza                   25094.00
The Vegetables + Vegetables Pizza             24374.75
The Prosciutto and Arugula Pizza              24193.25
The Napolitana Pizza                          24087.00
The Spinach and Feta Pizza                    23271.25
The Big Meat Pizza                            22968.00
The Pepperoni, Mushroom, and Peppers Pizza    18834.50
The Chicken Alfredo Pizza                     16900.25
The Chicken Pesto Pizza                       16701.75
The Soppressata Pizza                         16425.75
The Italian Vegetables Pizza                  16019.25
The Calabrese Pizza                           15934.25
The Spinach Pesto Pizza                       15596.00
The Mediterranean Pizza                       15360.50
The Spinach Supreme Pizza                     15277.75
The Green Garden Pizza                        13955.75
The Brie Carre Pizza                          11588.50
Name: total_price, dtype: float64

In [11]:
pizza_sold = data.groupby("pizza_name")["quantity"].sum().sort_values(ascending = False)
pizza_sold

pizza_name
The Classic Deluxe Pizza                      2453
The Barbecue Chicken Pizza                    2432
The Hawaiian Pizza                            2422
The Pepperoni Pizza                           2418
The Thai Chicken Pizza                        2371
The California Chicken Pizza                  2370
The Sicilian Pizza                            1938
The Spicy Italian Pizza                       1924
The Southwest Chicken Pizza                   1917
The Big Meat Pizza                            1914
The Four Cheese Pizza                         1902
The Italian Supreme Pizza                     1884
The Vegetables + Vegetables Pizza             1526
The Mexicana Pizza                            1484
The Napolitana Pizza                          1464
The Prosciutto and Arugula Pizza              1457
The Spinach and Feta Pizza                    1446
The Pepper Salami Pizza                       1446
The Italian Capocollo Pizza                   1438
The Greek Pizza                               1420
The Five Cheese Pizza                         1409
The Pepperoni, Mushroom, and Peppers Pizza    1359
The Green Garden Pizza                         997
The Chicken Alfredo Pizza                      987
The Italian Vegetables Pizza                   981
The Chicken Pesto Pizza                        973
The Spinach Pesto Pizza                        970
The Soppressata Pizza                          961
The Spinach Supreme Pizza                      950
The Calabrese Pizza                            937
The Mediterranean Pizza                        934
The Brie Carre Pizza                           490
Name: quantity, dtype: int64

In [12]:
pizza_size_sold = data.groupby("pizza_size")["quantity"].sum()
pizza_size_sold

pizza_size
L      18956
M      15635
S      14403
XL       552
XXL       28
Name: quantity, dtype: int64

In [53]:
pizza_cw_sold = data.groupby("pizza_category")["quantity"].sum()
pizza_cw_sold

pizza_category
Chicken    11050
Classic    14888
Supreme    11987
Veggie     11649
Name: quantity, dtype: int64

In [44]:
avg_order_value = total_revenue/ total_order
avg_order_value

38.30726229508197

In [15]:
avg_order = total_sold/ total_order
avg_order

2.321967213114754

In [16]:
data.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

## Addind Data Columns

In [17]:
data["order_date"] = pd.to_datetime(data["order_date"])

In [18]:
data["order_month"] = data.order_date.dt.month

In [19]:
data["order_day"] = data.order_date.dt.dayofweek

In [20]:
week_name = { 1 :'Tuesday',
             2 : "Wednesday",
             3 : "Thursday",
             4 : "Friday",
             5 : "Saturday",
             6 : "Sunday",
             0 : "Monday"}

In [21]:
data['order_day_name'] = data['order_day'].map(week_name)

In [36]:
weekly_trend = data.groupby("order_day_name")["order_id"].nunique()
weekly_trend

order_day_name
Friday       3538
Monday       2794
Saturday     3158
Sunday       2624
Thursday     3239
Tuesday      2973
Wednesday    3024
Name: order_id, dtype: int64

In [35]:
monthly_trand= data.groupby("order_month")["order_id"].nunique()
monthly_trand

order_month
1     1845
2     1685
3     1840
4     1799
5     1853
6     1773
7     1935
8     1841
9     1661
10    1646
11    1792
12    1680
Name: order_id, dtype: int64